<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.itson.semanaisw2013app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mobi.itson.semanaisw2013app.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="mobi.itson.semanaisw2013app.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mobi.itson.semanaisw2013app.ConferenceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_conference_activity"
            android:parentActivityName="mobi.itson.semanaisw2013app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobi.itson.semanaisw2013app.MainActivity" />
        </activity>
        <activity
            android:name="mobi.itson.semanaisw2013app.WorkshopActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_workshop_activity"
            android:parentActivityName="mobi.itson.semanaisw2013app.MainActivity" >
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobi.itson.semanaisw2013app.MainActivity"/>
        </activity>
    </application>

</manifest>
